@font-face {
font-family: "Oficina Sans ITC";
src: url("../fonts/ITC\ -\ OfficinaSansITCStd-Bold.otf");
}
@font-face {
    font-family: "Oficina Sans ITC Bold";
    src: url("../fonts/ITC\ -\ OfficinaSansITCStd-Book.otf");
    }
* {
    font-family: 'Oficina Sans ITC Bold', sans-serif;
}

body {
    font-family: 'Oficina Sans ITC', sans-serif;
}
h1, h2, h3, h4, h5, h6{
    margin: 0;
}

h1, h2 {
    margin-top: 10px;
    color: #0884d2;
}
color-button{
    color: #fff;
    background: transparent;
}
p {
    font-family: 'Oficina Sans ITC Bold', sans-serif;
    text-align: justify;
    line-height: 1.1em !important;
    font-size: 24px !important;
}
ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.lether {
    color: #009bc8;
    font-family: 'Oficina Sans ITC';
}
.lether-footer {
    padding-top: 5px;
    color: #fff;
    font-family: 'Oficina Sans ITC';
}
.footer-color {
    background: #009bc8;
    background-color: #009bc8;
}
.color-button {
    background: #009bc8;
    background-color: #009bc8;
}
.leaflet-container {
    height: 450px;
    width: 100%;
}
a {
    font-family: 'Oficina Sans ITC', sans-serif;
    color: #ffffff;
    border-bottom: 0px solid rgba(112, 112, 112, .60);
    font-weight: 300;
    font-size: 10px;
    transition: .4s ease color;
    float: left;
}
a img{
    float: left;
}
.link-nosotros {
    background: #63ccf5;
}
.link-nosotros:hover {
    background: #8ed5f1;
}
.link-certificaciones {
    background: #6633C7;
}
.link-certificaciones:hover {
    background: #7953c0;
}
.link-tecnologia {
    background: #9BBE2A;
}
.link-tecnologia:hover {
    background: #a7c250;
}
.link-business {
    background: #325b9a;
}
.link-business:hover {
    background: #4a6894;
}
.link-industrial {
    background: #717070;
}
.link-industrial:hover {
    background: #9b9797;
}
.link-health {
    background: #c52b81;
}
.link-health:hover {
    background: #be5c94;
}
.link-home{
    background: #e3c33b;
}
.link-home:hover{
    background: #e0cb6e;
}
.link-publicspaces {
    background: #66ae8d;
}
.link-publicspaces:hover {
    background: #84b19d;
}
.link-transport {
    background: #3980AA;
}
.link-transport:hover {
    background: #5786a1;
}
.link-contacto {
    background: #bb2b36;
}
.link-contacto:hover {
    background: #b44f57;
}

